<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create</title>
</head>
<body>
<h3>Modify Product</h3>
<p>
    <a th:href="@{/}">
        Back to customer list
    </a>
</p>
<div id="form">
    <form action="#" th:action="@{/update}" th:object="${customer}"
          method="POST" novalidate="novalidate">
        <div>
            <label>Id</label>
            <input readonly type="text" th:field="*{id}"/>
        </div>
        <div>
            <label>Name</label>
            <input type="text" th:field="*{name}"/>
        </div>
        <div>
            <label>Price</label>
            <input type="text" th:field="*{email}"/>
        </div>
        <div>
            <label>Quantity</label>
            <input type="text" th:field="*{address}"/>
        </div>
        <input type="submit" value="Update"/>
    </form>
</div>
</body>
</html>