<div class="container-fluid">
  <div class="body row position-relative" style="top: 160px">
    <div class="text-center col-12">
      <a class="btn btn-outline-dark float-left" role="button" [routerLink]="['/customer/create']">Create New
        Customer</a>
      <h2>List of Customer</h2>
    </div>
    <table class="table table-sm table-bordered table-hover">
      <thead class="thead-dark">
      <tr>
        <th scope="col" (click)="sort('customerId')">Id</th>
        <th scope="col" (click)="sort('customerName')">Name</th>
        <th scope="col" (click)="sort('customerGender')">Gender</th>
        <th scope="col" (click)="sort('customerEmail')">Email</th>
        <th scope="col" (click)="sort('customerAddress')">Address</th>
        <th scope="col">Detail</th>
        <th scope="col">Delete</th>
      </tr>
      </thead>
      <tbody id="myTable">
      <tr
        *ngFor="let customer of customerList | orderBy: key : reverse | paginate: { itemsPerPage: 5, currentPage: page }">
        <td scope="row">{{customer.customerId | IdConvert: 'KH'}}</td>
        <td>{{customer.customerName}}</td>
        <td *ngIf="customer.customerGender">Male</td>
        <td *ngIf="!customer.customerGender">Female</td>
        <td>{{customer.customerEmail}}</td>
        <td>{{customer.customerAddress}}</td>
        <td><a [routerLink]="['/customer/detail', customer.customerId]"><span class="fas fa-eye"></span></a></td>
        <td>
          <input type="button" (click)="deleteCustomer(customer.customerId)" value="Delete" class="btn btn-outline-danger">
      </tr>
      </tbody>
    </table>
    <pagination-controls (pageChange)="page = $event"></pagination-controls>
  </div>
</div>



