.p1 {
    margin-top: 0px;
}

.p2, .p3 {
    width: 50%;
}

hr {
    width: 50%;
    margin-bottom: 0px;
}

header {
    font-size: large;
    font-weight: bold;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: blue;
}

