table {
     font-family: arial, sans-serif;
     border-collapse: collapse;
     width: 25%;
 }
th{
    background: yellow;
}
td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}