<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/product/layout::header}">
    <title>Title</title>
</head>
<body>

<div class="container bootstrap snippets bootdey">
    <div class="row">
        <div class="col-sm-6 push-bit">
            <a href="#" class="gallery-link"><img th:src="${product.productImage}" th:alt="${product.productName}" class="img-responsive push-bit" /></a>
        </div>
        <div class="col-sm-6 push-bit">
            <div class="clearfix">
                <div class="pull-right">
                    <span class="h2"><strong th:text="${#numbers.formatDecimal(product.productPrice - (product.productPrice*product.productDiscount/100), 0, 'COMMA', 0, 'POINT')} + ' VND'"></strong></span>
                </div>
                <span class="h4">
                    <strong class="text-success" th:text="${product.productName}"></strong><br />
                    <small>15 Available</small>
                </span>
            </div>
            <hr />
            <p th:text="${product.productDescription}"></p>
            <p th:text="${product.productDescription}"></p>
            <hr />
            <form th:action="@{/cart/buy}" class="form-inline push-bit text-right" method="post">
                <input type="hidden" th:value="${product.productId}" name="id">
                <button type="submit" class="btn btn-danger">Add to Cart</button>
                <a href="/" class="btn btn-info ml-3">Shopping</a>
            </form>
        </div>
    </div>
</div>

<footer th:replace="~{/product/layout::footer}"></footer>
</body>
</html>