<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/layout/layout::header}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="~{/layout/layout::title}"></div>
<nav th:replace="~{/layout/layout::navbar}"></nav>
<!-- ----------------------------------------------------------------------------------------------------------- -->
<div class="container-fluid">
    <div class="body position-relative" style="top: 160px">
        <form method="post" th:object="${contract}" th:action="@{/contract/update}">
            <fieldset>
                <legend class="text-center">Update Information</legend>
                <div class="form-group form-inline">
                    <label for="id" class="col-2 d-flex justify-content-start">Id</label>
                    <input type="text" readonly class="col-8 form-control" id="id" th:field="*{contractId}">
                </div>
                <div class="form-group form-inline">
                    <label for="startDate" class="col-2 d-flex justify-content-start">Start Date</label>
                    <input type="text" class="col-8 form-control" id="startDate" th:field="*{contractStartDate}" autocomplete="off">
                    <span style="color: red" th:field="*{#fields.hasErrors('contractStartDate')}" th:errors="*{contractStartDate}"></span>
                </div>
                <div class="form-group form-inline">
                    <label for="endDate" class="col-2 d-flex justify-content-start">End Date</label>
                    <input type="text" class="col-8 form-control" id="endDate" th:field="*{contractEndDate}">
                    <span style="color: red" th:field="*{#fields.hasErrors('contractEndDate')}" th:errors="*{contractEndDate}"></span>
                </div>

                <div class="form-group form-inline">
                    <label for="deposit" class="col-2 d-flex justify-content-start">Deposit</label>
                    <input type="text" class="col-8 form-control" id="deposit" th:field="*{contractDeposit}">
                    <span style="color: red" th:field="*{#fields.hasErrors('contractDeposit')}" th:errors="*{contractDeposit}"></span>
                </div>

                <div class="form-group form-inline">
                    <label for="totalMoney" class="col-2 d-flex justify-content-start">Total Money</label>
                    <input type="text" class="col-8 form-control" id="totalMoney" th:field="*{contractTotalMoney}">
                    <span style="color: red" th:field="*{#fields.hasErrors('contractTotalMoney')}" th:errors="*{contractTotalMoney}"></span>
                </div>

                <div class="form-group form-inline">
                    <label for="employeeId" class="col-2 d-flex justify-content-start">Employee</label>
                    <select class="col-8 form-control" id="employeeId" th:field="*{employee}">
                        <option th:each="employee: ${employeeList}" th:value="${employee.employeeId}" th:text="${employee.employeeId + '-' + employee.employeeName}"></option>
                    </select>
                </div>
                <div class="form-group form-inline">
                    <label for="customerId" class="col-2 d-flex justify-content-start">Customer</label>
                    <select class="col-8 form-control" id="customerId" th:field="*{customer}">
                        <option th:each="customer: ${customerList}" th:value="${customer.customerId}" th:text="${customer.customerId + '-' + customer.customerName}"></option>
                    </select>
                </div>
                <div class="form-group form-inline">
                    <label for="serviceId" class="col-2 d-flex justify-content-start">Service</label>
                    <select class="col-8 form-control" id="serviceId" th:field="*{service}">
                        <option th:each="service: ${serviceList}" th:value="${service.serviceId}" th:text="${service.serviceId + '-' + service.serviceName}"></option>
                    </select>
                </div>

                <div class="form-group form-inline">
                    <div class="col-2"></div>
                    <div class="col-8 pl-0">
                        <input type="submit" value="Update" class="btn btn-outline-dark mr-2">
                        <a class="btn btn-outline-dark" th:href="@{/contract/detail/{id}(id=${contract.contractId})}">Back</a>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
<!-- ----------------------------------------------------------------------------------------------------------- -->
<footer th:replace="~{/layout/layout::footer}"></footer>
<script>
    $( document ).ready(function() {
        $("#birthday").datepicker({ dateFormat: "dd/mm/yy" });
    });
</script>
</body>
</html>