<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/layout/layout::header}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="~{/layout/layout::title}"></div>
<nav th:replace="~{/layout/layout::navbar}"></nav>
<!-- ----------------------------------------------------------------------------------------------------------- -->
<div class="container-fluid">
    <div class="body position-relative" style="top: 160px">
        <form method="post" th:action="@{/customer/search}">
            <fieldset>
                <legend class="text-center">Create New Customer</legend>
                <div class="form-group form-inline row col-12">
                <div class="form-group form-inline col-4">
                    <label for="id" class="col-2 d-flex">Id</label>
                    <input type="text" class="col-10 form-control" id="id" name="id">
                </div>
                <div class="form-group form-inline col-4">
                    <label for="name" class="col-2 d-flex">Name</label>
                    <input type="text" class="col-10 form-control" id="name" name="name">
                </div>
                <div class="form-group form-inline col-4">
                    <label for="birthday" class="col-2 d-flex">Birthday</label>
                    <input type="text" class="col-10 form-control" id="birthday" name="birthday" autocomplete="off">
                </div>
                </div>

                <div class="form-group form-inline row col-12">
                <div class="form-group form-inline col-4">
                    <label for="gender" class="col-2 d-flex">Gender</label>
                    <select class="col-10 form-control" id="gender" name="gender">
                        <option th:value="1" th:text="Male"></option>
                        <option th:value="0" th:text="Female"></option>
                    </select>
                </div>
                <div class="form-group form-inline col-4">
                    <label for="idNumber" class="col-2 d-flex">Identify Number</label>
                    <input type="text" class="col-10 form-control" id="idNumber" name="idNumber">
                </div>
                <div class="form-group form-inline col-4">
                    <label for="phone" class="col-2 d-flex">Phone</label>
                    <input type="text" class="col-10 form-control" id="phone" name="phone">
                </div>
                </div>

                <div class="form-group form-inline row col-12">
                <div class="form-group form-inline col-4">
                    <label for="email" class="col-2 d-flex">Email</label>
                    <input type="text" class="col-10 form-control" id="email" name="email">
                </div>
                <div class="form-group form-inline col-4">
                    <label for="address" class="col-2 d-flex">Address</label>
                    <input type="text" class="col-10 form-control" id="address" name="address">
                </div>
                <div class="form-group form-inline col-4">
                    <label for="customerType" class="col-2 d-flex">Customer Type</label>
                    <select class="col-10 form-control" id="customerType" name="customerType">
                        <option th:each="type: ${customerTypeList}" th:value="${type.customerTypeId}" th:text="${type.customerTypeName}"></option>
                    </select>
                </div>
                </div>

                <div class="form-group form-inline">
                    <div class="col-2"></div>
                    <div class="col-7 pl-0">
                        <input type="submit" value="Search" class="btn btn-outline-dark mr-2">
                        <a class="btn btn-outline-dark" href="/customer">Back</a>
                    </div>
                </div>
            </fieldset>
        </form>
        <table class="table table-sm table-bordered table-hover">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Birthday</th>
                <th scope="col">Id Card</th>
                <th scope="col">Gender</th>
                <th scope="col">Email</th>
                <th scope="col">Address</th>
                <th scope="col">Phone</th>
                <th scope="col">Customer Type</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="customer: ${customerList}">
                <td scope="row" th:text="${customer.customerId}"></td>
                <td th:text="${customer.customerName}"></td>
                <td th:text="${customer.customerBirthday}"></td>
                <td th:text="${customer.customerIdCard}"></td>
                <td th:if="${customer.customerGender}" th:text="Male"></td>
                <td th:if="!${customer.customerGender}" th:text="Female"></td>
                <td th:text="${customer.customerEmail}"></td>
                <td th:text="${customer.customerAddress}"></td>
                <td th:text="${customer.customerPhone}"></td>
                <td th:text="${customer.customerType.customerTypeName}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<!-- ----------------------------------------------------------------------------------------------------------- -->
<footer th:replace="~{/layout/layout::footer}"></footer>
<script>
    $( document ).ready(function() {
        $("#birthday").datepicker({ dateFormat: "dd/mm/yy" });
    });
</script>
</body>
</html>