<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>List of Product</title>
    <link rel="stylesheet" type="text/css" href="../static/bootstrap_4/css/bootstrap.min.css" th:href="@{/bootstrap_4/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" href="../static/bootstrap_4/font/css/all.css" th:href="@{/bootstrap_4/font/css/all.css}">
    <style>
        p {
            margin: 0;
        }
    </style>
</head>
<body>
<a role="button" class="btn btn-outline-success" href="/categories">Category</a>
<a role="button" class="btn btn-outline-success" href="/products">Product</a>
<a role="button" class="btn btn-outline-dark" href="/products">Back</a>
<form action="/products/search">
    <div class="form-row">
        <input type="search" placeholder="Search" name="input" class="col-sm-4 form-control">
        <input type="submit" value="Search" class="btn btn-outline-dark">
    </div>
</form>
<h2>List of Product</h2>
<form method="post" action="/products/confirm-in-batch">
    <table class="table table-sm table-bordered table-hover">
        <thead class="thead-dark">
        <tr>
            <td scope="col">Id</td>
            <td scope="col">Name</td>
            <td scope="col">Price</td>
            <td scope="col">Quantity</td>
            <td scope="col">Color</td>
            <td scope="col">Description</td>
            <td scope="col">Category</td>
            <td scope="col">Delete</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="temp: ${productList}">
            <td th:text="${temp.productId}"></td>
            <td th:text="${temp.productName}"></td>
            <td th:text="${#numbers.formatDecimal(temp.productPrice, 0, 'COMMA', 0, 'POINT')}"></td>
            <td th:text="${temp.productQuantity}"></td>
            <td th:text="${temp.productColor}"></td>
            <td th:text="${temp.productDescription}"></td>
            <td th:text="${temp.productCategory.categoryName}"></td>
            <td>
                <input type="checkbox" th:value="${temp.productId}" name="deleteInBatch">
            </td>
        </tr>
        </tbody>
    </table>
    <input type="submit" value="Delete">
</form>
<th:block th:if="${message}">
    <h3 th:text="${message}"></h3>
</th:block>
</body>
</html>