table {
     font-family: arial, sans-serif;
     border-collapse: collapse;
     width: 50%;
 }
td {
       border: 1px solid #dddddd;
       text-align: left;
       padding: 8px;
   }
th {
      border: 1px solid #dddddd;
      text-align: center;
      padding: 8px;
      background: orange;
  }
div{
    width: 700px;
    height: 50px;
    margin-bottom: 10px;
}