<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
    <head th:fragment="header">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>FURAMA RESORT</title>
        <link type="text/css" rel="stylesheet" href="bootstrap_4/css/bootstrap.min.css"
              th:href="@{/bootstrap_4/css/bootstrap.min.css}">
        <link type="text/css" rel="stylesheet" href="bootstrap_4/jquery-ui-1.12.1/jquery-ui.css"
              th:href="@{/bootstrap_4/jquery-ui-1.12.1/jquery-ui.css}">
        <link href="bootstrap_4/font/css/all.css" type="text/css" rel="stylesheet"
              th:href="@{/bootstrap_4/font/css/all.css}">
    </head>
    <body>
        <div class="col-12 row bg-info m-0 fixed-top" style="height: 100px" th:fragment="title">
            <div class="col-2 p-0">
                <img src="/image/codegym.png" th:src="@{/image/codegym.png}" class="img-thumbnail" alt="logo"
                     height="100" width="100">
            </div>
            <div class="col-8">
                <h2 style="margin-top: 30px">FURAMA RESORT</h2>
            </div>
<!--            <div class="col-2" sec:authorize="isAuthenticated()">-->
<!--                <h2>Welcome :<strong th:text="${#request.userPrincipal.name}"></strong></h2>-->
<!--            </div>-->
        </div>
        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top col-12" style="top: 100px"
             th:fragment="navbar">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link text-success" href="/">
                            <span class="fas fa-home"></span>
                            Home
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-success" href="/employee">
                            <span class="fas fa-people-arrows"></span>
                            Employee
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-success" href="/customer">
                            <span class="fas fa-user"></span>
                            Customer
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-success" href="/service">
                            <span class="fas fa-list"></span>
                            Service
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-success" href="/contract">
                            <span class="fas fa-file-contract"></span>
                            Contract
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-success" href="/modal">
                            <span class="fas fa-file-contract"></span>
                            Test
                        </a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"
                           th:value="${inputSearch}"
                           name="inputSearch" id="inputSearch">
                    <button class="btn btn-outline-success my-2 my-sm-0 mr-2" type="submit">Search</button>
                </form>
                <div class="dropdown">
                    <button class="btn btn-outline-dark" type="button" data-toggle="dropdown">
                        <span class="fas fa-power-off"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li sec:authorize="isAuthenticated()">
                            <a th:href="@{/logout}">Logout</a>
                        </li>
                        <li sec:authorize="!isAuthenticated()">
                            <a th:href="@{/login}">Login</a>
                        </li>
                    </ul>
                </div>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
                <span class="navbar-toggler-icon"></span>
            </button>
        </nav>

        <footer th:fragment="footer">
            <script type="text/javascript" src="bootstrap_4/js/jquery-3.5.1.js"
                    th:src="@{/bootstrap_4/js/jquery-3.5.1.js}"></script>
            <script type="text/javascript" src="bootstrap_4/js/bootstrap.min.js"
                    th:src="@{/bootstrap_4/js/bootstrap.min.js}"></script>
            <script type="text/javascript" src="bootstrap_4/jquery-ui-1.12.1/jquery-ui.min.js"
                    th:src="@{/bootstrap_4/jquery-ui-1.12.1/jquery-ui.min.js}"></script>
        </footer>
    </body>
</html>