<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/layout/layout::header}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="~{/layout/layout::title}"></div>
<nav th:replace="~{/layout/layout::navbar}"></nav>
<!-- ----------------------------------------------------------------------------------------------------------- -->
<div class="container-fluid">
    <div class="body position-relative" style="top: 160px">
        <div class="text-center col-12">
            <a th:href="@{/employee/create}" role="button" class="btn btn-outline-dark float-left">Create New Employee</a>
            <h2>List of Employee</h2>
        </div>
        <table id="tableStudent" class="table table-sm table-bordered table-hover">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Birthday</th>
                <th scope="col">Email</th>
                <th scope="col">Address</th>
                <th scope="col">Detail</th>
                <th scope="col">Delete</th>
            </tr>
            </thead>
            <tbody id="myTable">
                <tr th:each="employee: ${employeeList}">
                    <td scope="row" th:text="${employee.employeeId}"></td>
                    <td th:text="${employee.employeeName}"></td>
                    <td th:text="${employee.employeeBirthday}"></td>
                    <td th:text="${employee.employeeEmail}"></td>
                    <td th:text="${employee.employeeAddress}"></td>
                    <td>
                        <a th:href="@{/employee/detail/{id}(id=${employee.employeeId})}"><span class="fas fa-eye text-warning"></span></a>
                    </td>
                    <td>
                        <a th:href="@{/employee/delete/{id}(id=${employee.employeeId})}"><span class="fas fa-trash text-danger"></span></a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div>
            <a th:href="@{'/employee'(page=${employeeList.number - 1}, inputSearch=${inputSearch})}" th:if="${employeeList.hasPrevious()}">Previous</a>
            <span th:text="${employeeList.number + 1}"></span>/<span th:text="${employeeList.totalPages}"></span>
            <a th:href="@{'/employee'(page=${employeeList.number + 1}, inputSearch=${inputSearch})}" th:if="${employeeList.hasNext()}">Next</a>
        </div>
        <th:block th:if="${messInform != null}">
            <div class="alert alert-success col-4 d-flex justify-content-center" role="alert" th:text="${messInform}"></div>
        </th:block>
    </div>
</div>
<!-- ----------------------------------------------------------------------------------------------------------- -->
<footer th:replace="~{/layout/layout::footer}"></footer>
<script>
    window.setTimeout(function () {
        $(".alert").fadeTo(500, 0).slideUp(500, function () {
            $(this).remove();
        });
    }, 2000);

    $(document).ready(function () {
        $('#inputSearch').on('keyup', function () {
            let value = $(this).val().toLowerCase();
            $('#myTable tr').filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>
</body>
</html>