<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/layout/layout::header}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="~{/layout/layout::title}"></div>
<nav th:replace="~{/layout/layout::navbar}"></nav>
<!-- ----------------------------------------------------------------------------------------------------------- -->
<div class="container-fluid">
    <div class="body row position-relative" style="top: 160px">
        <div class="text-center col-12">
            <h2>Employee's Information Detail</h2>
        </div>
        <table class="table table-sm table-bordered table-hover">
            <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Information</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td scope="row">ID</td>
                <td th:text="${employee.employeeId}"></td>
            </tr>
            <tr>
                <td scope="row">Name</td>
                <td th:text="${employee.employeeName}"></td>
            </tr>
            <tr>
                <td scope="row">Birthday</td>
                <td th:text="${employee.employeeBirthday}"></td>
            </tr>
            <tr>
                <td scope="row">Identify Number</td>
                <td th:text="${employee.employeeIdCard}"></td>
            </tr>
            <tr>
                <td scope="row">Salary</td>
                <td th:text="${employee.employeeSalary}"></td>
            </tr>
            <tr>
                <td scope="row">Phone</td>
                <td th:text="${employee.employeePhone}"></td>
            </tr>
            <tr>
                <td scope="row">Email</td>
                <td th:text="${employee.employeeEmail}"></td>
            </tr>
            <tr>
                <td scope="row">Address</td>
                <td th:text="${employee.employeeAddress}"></td>
            </tr>
            <tr>
                <td scope="row">Position</td>
                <td th:text="${employee.position.positionName}"></td>
            </tr>
            <tr>
                <td scope="row">Education</td>
                <td th:text="${employee.educationDegree.educationDegreeName}"></td>
            </tr>
            <tr>
                <td scope="row">Division</td>
                <td th:text="${employee.division.divisionName}"></td>
            </tr>
<!--            <tr>-->
<!--                <td scope="row">User Name</td>-->
<!--                <td th:text="${employee.user.userName}"></td>-->
<!--            </tr>-->
            </tbody>
        </table>
        <div class="row text-center col-12">
            <a th:href="@{/employee/edit/{id}(id=${employee.employeeId})}" role="button" class="btn btn-outline-dark mr-2">Edit <span class="fas fa-edit"></span></a>
            <a th:href="@{/employee/delete/{id}(id=${employee.employeeId})}" role="button" class="btn btn-outline-dark mr-2">Delete <span class="fas fa-eraser"></span></a>
            <a href="/employee" role="button" class="btn btn-outline-dark float-left">Back</a>
        </div>
    </div>
</div>
<!-- ----------------------------------------------------------------------------------------------------------- -->
<footer th:replace="~{/layout/layout::footer}"></footer>
</body>
</html>