<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Student</title>
</head>
<body>
<a th:href="@{/student/create}">Add New Student</a>
    <table>
        <thead>
        <tr>
            <td>Id</td>
            <td>Name</td>
            <td>Age</td>
        </tr>
        </thead>
        <tbody>
            <tr th:each="student: ${studentList}">
                <td th:text="${student.studentId}"></td>
                <td th:text="${student.studentName}"></td>
                <td th:text="${student.studentAge}"></td>
                <td><a th:href="@{/student/register/{id}(id=${student.studentId})}">Register</a></td>
            </tr>
        </tbody>
    </table>
</body>
</html>