<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create</title>
</head>
<body>
<form th:action="@{/student/finish}" th:object="${student}"  method="post">
    <input type="hidden" th:field="*{studentId}">
    <input type="hidden" th:field="*{studentName}">
    <input type="hidden" th:field="*{studentAge}">
    <div>
        <label>Course</label>
<!--        <select th:field="*{courses}">-->
<!--            <option th:each="a:${courseList}" th:value="${a.courseId}" th:text="${a.courseName}"></option>-->
<!--        </select>-->
        <input type="checkbox" th:field="*{courses}" th:each="a:${courseList}" th:value="${a.courseId}" th:text="${a.courseName}">
    </div>
    <div>
        <input type="submit" value="Create">
    </div>
</form>
</body>
</html>